<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>채팅</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <!-- google font link-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap" rel="stylesheet">
    <style>
        .font {
            font-family: "Hi Melody", sans-serif;
        }
        .profile-img {
            width: 50px;
            height: 50px;
            border-radius: 50%;
            margin-right: 10px;
        }
        .member-info {
            display: flex;
            align-items: center;
        }
    </style>
</head>
<body>
    <%- include('sidebar') %>
    <div id="content">
        <div class="header">
            <h1 style="font-size: 50px;">채팅방 목록</h1>
        </div><hr>

        <% if (result.length > 0) { %>
            <% result.forEach(function(chatroom) { %>
                <div class="white-bg">
                    <a href="/user/chat/detail/<%= chatroom._id %>">
                        <div class="list-box">
                            <h2>
                                <% chatroom.member.forEach(function(member) { %>
                                    <% if (currentUser !== member) { %>
                                        <% let user = users.find(u => u.username === member); %>
                                        <% if (user) { %>
                                            <div class="member-info">
                                                <img src="<%= user.profile %>" alt="<%= user.username %>의 프로필 사진" class="profile-img">
                                                <span><%= user.username %> 님</span>
                                            </div>
                                        <% } else { %>
                                            <span><%= member %> 님</span>
                                        <% } %>
                                    <% } %>
                                <% }); %>
                            </h2>
                            <hr>
                        </div>
                    </a>
                </div>
            <% }); %>
        <% } else { %>
            <p>채팅방이 없습니다.</p>
        <% } %>
    </div>
</body>
</html>
