<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>글 수정하기</title>
    <link href="/css/style.css" rel="stylesheet">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body class="grey-bg">
    <div id="sidebar">
        <div>
            <a href="/"><img src="/images/logo_non_bg.png" alt="Logo" width="250px"></a>
        </div>
        <p><span class="accent">쉐어 잇</span></p>
        <p>share eat,<br>share it!</p>
        <a href="/user/mypage">마이 페이지</a>
        <a href="/user/logout">로그아웃</a>
        <a href="/user/community_board">게시판</a>
        <a href="/user/flash_purchase">공동구매</a>
        <a href="/user/chat/list">채팅</a>
    </div> 
    <form class="form-box" action="/user/edit_flash?_method=PUT" method="post">
        <h1>글쓰기</h1>
        <input name="id" value="<%=edit._id %>" style="display: none;">
        <label for="product_name">제품명:</label>
        <input type="text" id="product_name" name="product_name" value="<%=edit.product_name %>"><br>
        <label for="quantity">수량:</label>
        <input type="text" id="quantity" name="quantity" value="<%=edit.quantity %>"><br>
        <label for="number_of_recruits">모집인원:</label>
        <input type="text" id="number_of_recruits" name="number_of_recruits" value="<%=edit.number_of_recruits %>"><br>
        <label for="total amount">총 금액:</label>
        <input type="text" id="total_amount" name="total_amount" value="<%=edit.total_amount %>"><br>
        <label for="location">거래 장소:</label>
        <input type="text" id="location" name="location" value="<%=edit._location %>"><br>
        <label for="product_image">제품 사진:</label>
        <input type="file" name="img1" accept="image/*" value="<%=edit._img %>"><br><br>
        <button type="submit">글쓰기</button>
    </form>
    </body>
</html>