<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>게시물 상세 보기</title>
    <link href="/css/style.css" rel="stylesheet">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body class="grey-bg">
    <div id="sidebar">
        <div>
            <a href="/"><img src="/images/logo_non_bg.png" alt="Logo" width="250px"></a>
        </div>
        <p><span class="accent">쉐어 잇</span></p>
        <p>share eat,<br>share it!</p>
        <a href="/user/mypage">마이 페이지</a>
        <a href="/user/logout">로그아웃</a>
        <a href="/user/community_board">게시판</a>
        <a href="/user/flash_purchase">공동구매</a>
        <a href="/user/chat/list">채팅</a>
    </div>
    <div id="content">
        <div class="navbar">
            <a class="selected" href="/user/flash_purchase">번개공구</a>
            <a class="unselected" href="/user/regular_purchase">정기공구</a>
        </div>
        <hr>
        <div class="post-box">
            <h2><%= post.product_name %></h2>
            <p><%= post.quantity %></p>
            <p><%= post.number_of_recruits %></p>
            <p><%= post.total_amount %></p>
            <p><%= post.location %></p>
            <p><%= post.username %></p>
            <p><%= post.date %></p>
            <img src="<%= post.img %>">
        </div>
        <a href="/user/chat/request?writerId=<%= post.username%>">채팅하기</a>
    </div>
</body>
</html>
