<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>검색 결과</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <!-- google font link-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap" rel="stylesheet">
    <style>
        .font{
            font-family: "Hi Melody", sans-serif;
        }
    </style>
</head>
<body>
    <%- include('sidebar') %>
    <div id="content">
        <div class="header">
            <h1 style="font-size: 50px;">검색결과</h1>
        </div><hr>
        <% var 페이지당글수 = 10; %>
        <% var 페이지번호 = parseInt(page) || 1; %>
        <% var 시작인덱스 = (페이지번호 - 1) * 페이지당글수; %>
        <% var 끝인덱스 = 페이지번호 * 페이지당글수; %>
        <% for (var i = 시작인덱스; i < Math.min(글목록.length, 끝인덱스); i++){ %>
            <div class="list-box">
                <a href="/user/post_community/<%= 글목록[글목록.length - i - 1]._id %>" class="list_ title"><%= 글목록[글목록.length - i - 1].title %></a>
                <div class="list_ author"><%= 글목록[글목록.length - i - 1].username %></div>
                <div class="list_ date"><%= 글목록[글목록.length - i - 1].date %></div>
                <div class="list_ views"><%= 글목록[글목록.length - i - 1].views %></div>
            </div>
        <% } %>
        
        <% if (페이지번호 > 1) { %>
            <a href="/user/community_board?page=<%= 페이지번호 - 1 %>">이전 페이지</a>
        <% } %>
        <% if (글목록.length > 끝인덱스) { %>
            <a href="/user/community_board?page=<%= 페이지번호 + 1 %>">다음 페이지</a>
        <% } %>
    </div>
    <script>
        for(let i = 0; i < '<%=글목록.length %>'; i++)
        {
            document.querySelectorAll('.delete')[i]
            .addEventListener('click', function(e){
            fetch('/user/delete?docid=' + e.target.dataset.id, {method: 'DELETE'})
            .then((r)=>r.text())
            .then((r)=>{e.target.parentElement.style.display='none'})
        })
        }
    </script>
</body>
</html>