<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>공동구매 예약하기</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="icon" href="/images/favicon.ico" type="image/x-icon">
    <!-- google font link-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Hi+Melody&display=swap" rel="stylesheet">
    <style>
    .font{
        font-family: "Hi Melody", sans-serif;
    }

    body{
        background-color: #fff8e6;
    }

    .header {
        display: flex; /* 요소들을 가로로 배열 */
        justify-content: center; /* 요소들을 가로 중앙 정렬 */
        align-items: center; /* 요소들을 세로 중앙 정렬 */
        width: 100%;
        padding: 20px;
        box-sizing: border-box;
    }

    .profile {
        display: flex; /* 프로필 이미지와 텍스트를 column으로 배열 */
        flex-direction: column; /* 요소들을 세로로 배열 */
        align-items: center; /* 요소들을 가로 중앙 정렬 */
        text-align: center; /* 텍스트를 중앙 정렬 */
    }

    .profile img {
        width: 200px;
        height: 200px;
        border-radius: 50%;
        margin-bottom: 10px; /* 이미지와 텍스트 사이의 간격 */
    }

    .username {
        font-size: 40px; /* 텍스트 크기 조정 */
        font-weight: bold; /* 텍스트 굵기 조정 */
    }
    .button{
        border: none;
        padding: 7px 15px;
        text-align: right;
        text-decoration: none;
        font-size: 15px;
        margin: 4px 2px;
        cursor: pointer;
        border-radius: 5px;
    }

    .report {
        background-color: #ffedc0;
    }
    .report:hover {
        background-color: #d11b1b;
    }
    .profilereserve{
        background-color: #ffedc0;
        color:black;
        text-align: right;
    }
    .profilereserve:hover{
        background-color: #ffbd16;
        color:white;
        transition:0.5s
    }

    </style>
</head>
<body>
    <%- include('sidebar') %>
    <div id="content">

    <div class="header">
        <div class="profile">
            <img src="<%=opponent.profile%>" alt="Profile Picture">
            <div class="username"><%= opponent.username %>님</div>
            <button class="button report">신고하기</button>
        </div>
    </div>
        <div class="list_word">
            <div class="list title">상품명</div>
            <div class="list date">날짜</div>
        </div>
        <% for (var i = 0; i < regular.length; i++){ %>
            <div class="white-bg">
                <div class="list-box">
                    <a href="/user/post_regular/<%= regular[regular.length - i - 1]._id %>" class="title"><%= regular[regular.length - i - 1].product_name %>&emsp;</a>
                    <br>
                    <p class="profiledate"><%= regular[regular.length - i - 1].datey%> <%=regular[regular.length - 1 - i].time%>&emsp;</p>
                    <form action="/user/reserve_regular/<%= regular[regular.length - i - 1]._id %>" method="post">
                        <input type="hidden" name="userId" value="<%= currentUser%>">
                        <button class="button profilereserve reserve_regular" type="submit">예약하기</button>
                    </form>
                    <br>
                </div>
            </div>
        <% } %>
        <% for (var i = 0; i < flash.length; i++){ %>
            <div class="white-bg">
                <div class="list-box">
                    <a href="/user/post_flash/<%= flash[flash.length - i - 1]._id %>" class="title"><%= flash[flash.length - i - 1].product_name %>&emsp;</a>
                    <br>
                    <p class="profiledate"><%= flash[flash.length - i - 1].datey%> <%= flash[flash.length - i - 1].time%>&emsp;</p>
                    <form action="/user/reserve_flash/<%= flash[flash.length - i - 1]._id %>" method="post">
                        <input type="hidden" name="userId" value="<%= currentUser%>">
                        <button class="button profilereserve reserve_flash" type="submit">예약하기</button>
                    </form>
                    <br>
                </div>
            </div>
        <% } %>
    </div>
    <script>
        document.querySelectorAll('.reserve_flash').forEach(function(button) {
            button.addEventListener('click', function() {
                const id = this.getAttribute('data-id');
                fetch('/user/reserve_flash/' + id, {
                    method: 'POST',
                }).then(response => {
                    if (response.ok) {
                        console.log('Reservation successful');
                        window.location.href = '/user/mypage';
                        // 예약이 성공했을 때 필요한 동작 추가
                    } else {
                        console.error('Reservation failed');
                        // 예약이 실패했을 때 필요한 동작 추가
                    }
                }).catch(error => {
                    console.error('Error:', error);
                    // 예약 요청 과정에서 오류가 발생했을 때 필요한 동작 추가
                });
            });
        });

        document.querySelectorAll('.reserve_regular').forEach(function(button) {
            button.addEventListener('click', function() {
                const id = this.getAttribute('data-id');
                fetch('/user/reserve_regular/' + id, {
                    method: 'POST',
                }).then(response => {
                    if (response.ok) {
                        console.log('Reservation successful');
                        window.location.href = '/user/mypage';
                        // 예약이 성공했을 때 필요한 동작 추가
                    } else {
                        console.error('Reservation failed');
                        // 예약이 실패했을 때 필요한 동작 추가
                    }
                }).catch(error => {
                    console.error('Error:', error);
                    // 예약 요청 과정에서 오류가 발생했을 때 필요한 동작 추가
                });
            });
        });
    </script>
    
    
</body>
</html>
